@import "addons.scss";
@import "mytheme.scss";

/* This file prefixes all rules with the theme name to avoid causing conflicts with other themes. */
/* The actual styles should be defined in mytheme.scss */
.mytheme {
  @include addons;

  // Include mytheme theme styles in your theme
  @include mytheme;
  
  .v-verticallayout-login_fl.v-verticallayout-spacing-on{
      padding-top: 100px;
      padding-bottom: 100px; 
  }
  
  .v-verticallayout-login_fl.v-margin-left   {padding-left:   10px;}
  .v-verticallayout-login_fl.v-margin-right  {padding-right:  20px;}
  .v-verticallayout-login_fl.v-margin-top    {padding-top:    40px;}
  .v-verticallayout-login_fl.v-margin-bottom {padding-bottom: 80px;}
  
  .mymargins.v-margin-left   {padding-left:   10px;}
  .mymargins.v-margin-right  {padding-right:  20px;}
  .mymargins.v-margin-top    {padding-top:    40px;}
  .mymargins.v-margin-bottom {padding-bottom: 80px;}
  
  v-margin-left   {padding-left:   10px;}
  v-margin-right  {padding-right:  20px;}
  v-margin-top    {padding-top:    40px;}
  v-margin-bottom {padding-bottom: 80px;}
}
